

/**,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.back {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}


.form1 {
    height: 520px;
    width: 400px;
    background-color: black;
    opacity: 0.9 !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 5px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgb(218, 165, 32);
    padding: 50px 35px;
}

    .form1 * {
        font-family: 'Mulish', sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .form1 h3 {
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        text-align: center;
    }

.label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: whitesmoke;
}

input:hover {
    outline: 2px solid;
}

.button {
    margin-top: 50px;
    background-color: #ffffff;
    color: black;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
}
    .button:hover,
    .button:focus {
        color: white;
        background-color: goldenrod;
        outline: 2px solid  goldenrod;
    }



@media only screen and (max-width: 600px) {
    body {
        background: url(https://source.unsplash.com/1080x2400?sunset+birdeye+ocean);
    }
}


strong{
    color:darkgrey;
}

a {
    text-decoration: none;
    color: lightslategrey;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}

    a:hover {
        color:goldenrod;
    }


.form2 {
    height: 850px;
    width: 500px;
    background-color: black;
    opacity: 0.9 !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgb(218, 165, 32);
    padding: 50px 35px;
}

    .form2 * {
        font-family: 'Mulish', sans-serif;
       
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .form2 h3 {
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        text-align: center;
    }
.button1 {
    margin-top: 50px;
    background-color: #ffffff;
    color: black;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
}

    .button1:hover,
    .button1:focus {
        color: white;
        background-color: goldenrod;
        outline: 2px solid goldenrod;
    }

.space{
    top:1000px;
}*/




